# PostgresQL 설정
DB_NAME=recall_db
DB_USER=admin
DB_PASSWORD=password123
DB_PORT=5432

# Redis 설정
REDIS_PORT=6379

# Spring Boot 설정
APP_PORT=8080

# JPA/Hibernate 설정
# 로컬 실행 & 테이블 변경: update
# 배포: validate
JPA_DDL_AUTO=update